<h1>Hello</h1>

<form action="/answer" method="get">
  <label for="questions">Something to say to the coach ?</label>
  <input type="text" name="answer">
  <input type="submit" name="submit" value="ask to the coach">
</form>